<?xml version="1.0"?>
<!-- Ch 6.2.4, 6.3 -->    
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find robot_description)/urdf/robot/common_inertia.xacro"/>
    <xacro:macro name="imu_xacro" params="xyz">
        <!-- IMU Component -->
        <link name="imu_link">
            <!-- Part Description -->
            <visual>
                <!-- Origin's Translation and Rotation -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- Material and Color -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>
            <collision>
                <!-- Origin's Translation and Rotation -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- Material and Color -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </collision>
            <xacro:box_inertia m="0.05" w="0.02" h="0.02" d="0.02"/>

        </link>

        <!-- Joints -->
        <joint name="imu_joint" type="fixed">
            <parent link="base_link"/>
            <child link="imu_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>

</robot>
