<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_control_plugin">
    <gazebo>
      <!-- Differential drive -->
      <plugin
        filename="libignition-gazebo-diff-drive-system.so"
        name="ignition::gazebo::systems::DiffDrive">

        <left_joint>left_wheel_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint>

        <wheel_separation>0.2</wheel_separation>
        <wheel_radius>0.032</wheel_radius>

        <topic>/model/robot/cmd_vel</topic>
        <odom_topic>/model/robot/odometry</odom_topic>
        <tf_topic>/model/robot/tf</tf_topic>

        <frame_id>odom</frame_id>
        <child_frame_id>base_footprint</child_frame_id>
        <odom_publish_frequency>30</odom_publish_frequency>

        <max_linear_velocity>1.0</max_linear_velocity>
        <max_angular_velocity>3.0</max_angular_velocity>
        <max_linear_acceleration>2.0</max_linear_acceleration>
        <max_angular_acceleration>6.0</max_angular_acceleration>
      </plugin>

      <!-- Publish joint states for ROS -->
      <plugin
        filename="libignition-gazebo6-joint-state-publisher-system.so"
        name="ignition::gazebo::systems::JointStatePublisher">
        <topic>/model/robot/joint_state</topic>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
